* {
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

body {
    margin: 0;
}

.nav {
    position: sticky;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 20px;
    height: 70px;
    background-color: hsl(0, 0%, 97%);
}

.nav-title {
    font-size: 1.75rem;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}
